/**
 * Variables
 *
 * @format
 */

:root {
  --clr-primary-400: hsl(234, 100%, 69%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-300: hsl(217, 14%, 54%);
  --clr-neutral-400: hsl(218, 20%, 39%);
  --clr-neutral-600: hsl(218, 31%, 30%);
  --clr-neutral-800: hsl(218, 54%, 20%);
  --ff-primary: "poppins", sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fs-200: 0.75rem;
  --fs-300: 0.8125rem;
  --fs-350: 0.9375rem;
  --fs-400: 1rem;
  --fs-450: 1.0625rem;
  --fs-500: 1.125rem;
  --fs-550: 1.25rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
  --fs-nav: var(--fs-700);
  --fs-button: var(--fs-450);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-sub-paragraph-title: var(--fs-300);
  --fs-sub-paragraph-content: var(--fs-350);
  --line-height-primary-heading: 3.25rem;
  --line-height-paragraph: 1.5rem;
}

@media (min-width: 768px) {
  :root {
    --fs-nav: var(--fs-350);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-sub-paragraph-title: var(--fs-500);
    --fs-sub-paragraph-content: var(--fs-400);
    --line-height-primary-heading: 3.75rem;
    --line-height-primary-paragraph: 1.75rem;
  }
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: hsl(240, 100%, 96%);
  font-family: var(--ff-body);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* General Styles */

.container {
  --max-width: 1500px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

.tech-stacks {
  --background: hsl(225, 44%, 96%);
  --color: hsl(234, 100%, 75%);

  display: flex;
  gap: 0.5rem;
  text-transform: uppercase;
}

.tech-stacks > * {
  max-width: fit-content;
  padding: 0.25rem 0.75rem;
  background: var(--background);
  color: var(--color);
  font-size: var(--fs-200);
  border-radius: 0.5rem;
  list-style: none;
}

/* Button Interaction */
.default-button {
  max-width: fit-content;
  padding: var(--button-padding-block, 0.75rem) var(--button-padding-inline, 0.75rem);
  background-color: var(--button-bg, transparent);
  color: var(--button-color, var(--clr-primary-400));
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid var(--clr-primary-400);
  border-radius: 0.5rem;
  transition: background 0.2s ease-in-out;
}

.default-button:hover,
.default-button:focus-visible {
  background: var(--button-hover-bg, var(--clr-primary-400));
  color: var(--button-hover-color, var(--clr-neutral-100));
}

.default-button:active {
  border: 1px solid var(--button-active-color, var(--clr-neutral-100));
  box-shadow:
    inset 5px 5px 3px -3px var(--button-active-color, var(--clr-neutral-100)),
    inset -5px -5px 3px -3px var(--button-active-color, var(--clr-neutral-100)),
    inset 5px -5px 3px -3px var(--button-active-color, var(--clr-neutral-100)),
    inset -5px 5px 3px -3px var(--button-active-color, var(--clr-neutral-100));
}

/* Header */
.header {
  padding-block: 1rem;
  background-color: var(--clr-neutral-100);
  box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.57);
  overflow: hidden;
  border-bottom-left-radius: 90px;
}

.nav-wrapper > .container {
  --padding: 1rem;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__nav .mobile-nav-toggle {
  display: block;
  position: absolute;
  top: 65%;
  right: 0;
  z-index: 9999;
  width: 2rem;
  background: url("./images/icon-hamburger.svg");
  background-repeat: no-repeat;
  transform: translateY(-50%);
  border: 0;
  cursor: pointer;
  aspect-ratio: 1;
}

.mobile-nav-toggle[aria-expanded="true"] {
  position: fixed;
  top: 35px;
  right: 30px;
  background-image: url("./images/icon-close.svg");
}

.mobile-navigation-open {
  overflow: hidden;
}

.primary-navigation {
  --mobile-nav-bg: hsla(234, 100%, 69%, 0.7);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position: fixed;
  inset: 0;
  z-index: 1000;
  padding: min(30vh, 5rem) 1rem;
  background: var(--mobile-nav-bg, var(--clr-primary-400));
  font-weight: var(--fw-semibold);
  overflow: hidden;
  list-style: none;
  backdrop-filter: blur(0.4rem);
  transform: translateX(100%);
}

.primary-navigation .nav-link {
  color: var(--clr-neutral-100);
  text-decoration: none;
}

.primary-navigation[mobileNav-visible="true"] {
  transform: translate(0);
  transition: transform 350ms ease-out;
}

@media (min-width: 768px) {
  .header__nav .mobile-nav-toggle {
    display: none;
  }

  .nav-wrapper > .container {
    --padding: 4rem;
  }

  .primary-navigation {
    flex-direction: row;
    gap: 2rem;
    position: initial;
    padding: 0;
    background: transparent;
    transform: none;
    transition: none;
    font-weight: var(--fw-medium);
  }

  .primary-navigation .nav-link {
    color: var(--clr-neutral-600);
  }
}

/* Header Hero */
.hero-wrapper {
  background-image: url("./images/HeaderBgDesktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-wrapper > .container {
  --padding: 1rem;
}

.header__hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.75rem;
  padding-block: 8rem;
}

@media (min-width: 768px) {
  .hero-wrapper {
    background-image: url("./images/HeaderBgDesktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-wrapper > .container {
    --padding: 10rem;
  }
}

/* Projects */
.main {
  --flow-spacer: 5em;

  margin-block: 7rem;
}

.sections-wrapper {
  display: grid;
  gap: 5em;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--clr-neutral-100);
  border-radius: 1rem;
  box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.57);
}

.project__img {
  border-radius: 0.5rem;
}

.project__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project__header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  white-space: nowrap;
}

.project__meta {
  display: flex;
  gap: 1.5rem;
}

.project__meta li:first-child {
  color: var(--clr-neutral-600);
  text-transform: uppercase;
  list-style-type: none;
}

@media (min-width: 768px) and (max-width: 1000px) {
  .project {
    flex-direction: row;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project > * {
    flex: 1;
  }

  .project__img {
    width: 50%;
  }

  .project__info {
    gap: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .sections-wrapper {
    padding-inline: 5rem;
  }

  .project {
    flex-direction: row;
  }

  .project:nth-child(even) {
    flex-direction: row-reverse;
  }

  .project > * {
    flex: 1;
  }

  .project__img {
    width: 50%;
  }

  .project__info {
    gap: 1.5rem;
  }
}

/* Modal */

.modal-overlay {
  display: none;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--neutrals-n-50, hsl(216, 14%, 79%));
  background-size: contain;
  backdrop-filter: blur(0.4rem);
  z-index: 2;
  mix-blend-mode: multiply;
  overflow: hidden;
}

.modal-overlay[overlay-visible="true"] {
  display: block;
}

.modal-wrapper {
  display: none;
  position: fixed;
  inset: 3rem 1rem;
  padding-bottom: 1rem;
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  z-index: 9999;
  overflow-y: scroll;
}

.modal-wrapper[modal-visible="true"] {
  display: block;
}

.modal__button {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  z-index: 9999;
  background-color: transparent;
  width: 2rem;
  cursor: pointer;
  border: none;
}

.modal {
  display: grid;
  justify-content: start;
  gap: 1.5em;
}

.modal__meta {
  display: flex;
  gap: 1.5rem;
}

.modal__meta li:first-child {
  list-style-type: none;
}

.modal__img {
  border-radius: 0.5rem;
}

.modal__main {
  display: grid;
  gap: 1rem;
}

.grid-columns {
  display: grid;
  gap: 1rem;
}

.modal__stacks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal__links {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.modal__links .default-button {
  --button-padding-inline: 0;
  --button-padding-block: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  max-width: 100%;
  width: 100%;
}

.default-button:hover svg {
  fill: var(--clr-neutral-100);
}

@media (min-width: 768px) and (max-width: 1000px) {
  .modal-wrapper {
    inset: 2rem 2rem;
  }

  .grid-columns {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding-bottom: 4rem;
  }

  .modal__info {
    grid-column: 1 / 3;
  }
}

@media (min-width: 1000px) {
  .modal-wrapper {
    inset: 2.5rem 4rem;
  }

  .modal__img {
    padding-inline: 2rem;
    background-color: hsl(0, 0%, 83%);
  }

  .grid-columns {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 4rem;
  }

  .modal__info {
    grid-column: 1 / 3;
  }
}

/* Footer Myself */
.footer {
  --clr-footer-paragraph: hsl(240, 100%, 96%);

  padding-top: 6rem;
  background: var(--clr-neutral-100);
  border-top-right-radius: 90px;
  box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 1px 4px 8px -2px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 1px 4px 8px -2px rgba(82, 75, 75, 0.57);
}

.myself {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.myself-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.myself__know-more {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.myself__proficiency {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin-top: 0.7rem;
}

@media (min-width: 768px) {
  .myself {
    flex-direction: row;
  }

  .myself > * {
    flex: 1;
  }
}

/* Accordion */
.accordion {
  --accordion-text: hsl(218, 41%, 25%);
  --accordion-bg: hsl(225, 44%, 96%);
  --accordion-bottom: hsl(223, 12%, 89%);

  border-bottom: 1px solid var(--accordion-bottom);
}

.accordion__intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.accordion__intro--button {
  border: none;
  background: transparent;
}

.accordion__content {
  margin-bottom: 1rem;
}

.accordion__ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--accordion-text);
}

.accordion__ul .accordion__li {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.6rem;
  background: var(--accordion-bg);
  border-radius: 0.5rem;
  list-style: none;
}

@media (min-width: 768px) {
  .accordion__ul {
    flex-direction: row;
  }

  .accordion__li {
    min-width: 6rem;
    flex-direction: column;
  }
}

/* Form */
.contact-wrapper {
  display: grid;
  place-content: center;
  margin-top: 8rem;
  background-color: var(--clr-primary-400);
  background-image: url("./images/ContactBgMobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-top-left-radius: 90px;
  overflow: hidden;
}

.contact-wrapper > .container {
  --padding: 1rem;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 8rem 4rem;
}

.contact__form {
  --border: hsl(198, 16%, 84%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: right;
  gap: 1rem;
}

.contact__form > * {
  padding: 0.5rem;
  width: 100%;
  border: 1px solid var(--border);
}

.form__input::placeholder {
  font-size: var(--fs-450);
  color: var(--clr-neutral-800);
}

.form__textarea {
  text-align: left;
  font-size: var(--fs-450);
  color: var(--clr-neutral-800);
  white-space: nowrap;
  resize: none;
}

.contact__form .default-button {
  --button-bg: var(--clr-neutral-100);
  --button-color: var(--clr-primary-400);
  --button-hover-bg: var(--clr-neutral-100);
  --button-hover-color: var(--clr-primary-400);
  --button-active-color: var(--clr-primary-400);

  position: relative;
}

.error-message {
  position: absolute;
  left: 50%;
  bottom: -3rem;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  background-color: hsl(0, 80%, 94%);
  border: none;
  color: hsl(345, 100%, 40%);
  white-space: nowrap;
}

.error-message::after,
.error-message::before {
  content: '';
  border: 7px solid transparent;
  position: absolute;
  top: 10px;
}

.error-message::before {
  border-bottom: 7px solid hsl(0, 80%, 94%);
  top: -12px;
}

@media (min-width: 768px) {
  .contact-wrapper {
    background-image: url("./images/ContactBgDesktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact {
    max-width: 500px;
  }

  .contact__form {
    align-items: center;
  }
}

/* Utilities Classes */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

/* Text Color Utilities */
.text-footer-paragraph {
  color: var(--clr-footer-paragraph);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-300 {
  color: var(--clr-neutral-300);
}

.text-neutral-600 {
  color: var(--clr-neutral-600);
}

.text-neutral-800 {
  color: var(--clr-neutral-800);
}

/* Font Weight Utilities */
.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: 700;
}

/* Font Size Utilities */
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}

.fs-sub-paragraph-title {
  font-size: var(--fs-sub-paragraph-title);
}

.fs-sub-paragraph-content {
  font-size: var(--fs-sub-paragraph-content);
}

.fs-nav {
  font-size: var(--fs-nav);
}

.fs-button {
  font-size: var(--fs-button);
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-350 {
  font-size: var(--fs-350);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-450 {
  font-size: var(--fs-450);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-550 {
  font-size: var(--fs-550);
}

.fs-800 {
  font-size: var(--fs-800);
} /* For Footer */

/* Line Height */
.line-height-primary-heading {
  line-height: var(--line-height-primary-heading);
}

.line-height-paragraph {
  line-height: var(--line-height-paragraph);
}

/* Social Icon Interaction */
.social-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: transform 0.3s, color 0.3s, box-shadow 0.3s;
}

.social-icons-img:hover,
.social-icons-img:focus {
  transform: scale(1.05);
}
